
TrayectoCppVideojuegos/.vs/

TrayectoCppVideojuegos/Debug/

TrayectoCppVideojuegos/Clase2/Debug/

TrayectoCppVideojuegos/x64/

TrayectoCppVideojuegos/Clase3/Debug/

TrayectoCppVideojuegos/Clase3/x64/
